@import '../../assets/scss/_variables.scss';

div.photo-frame {

  padding: 0px;
  // background-color: $grey-dark;

  img {
    border: 3px solid $grey-dark;

    &.horizontal {
      width: 100%;
    }
  }

  &.vertical {
    height: 100%;

    img.vertical {
      width: 100%;
    
      @include phone {
        width: 100%;
      }
    }
  }
}

div.photo-frame.vertical {
  margin: 0 auto;
  width: 70%;

  @include phone {
    width: auto;
  }
}