@import '../../assets/scss/_variables.scss';

div.photo-frame {

  padding: 10px;
  background-color: $grey-dark;

  img.horizontal {
    width: 100%;
  }

  &.vertical {
    height: 100%;

    img.vertical {
      height: 100%;

      @include phone {
        
      width: 100%;
      }
    }
  }

  @include phone {
    position: relative;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

}

div.photo-frame.horizontal {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  @include phone {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

}

div.photo-frame.vertical {
  margin: 0 auto;
  height: 100%;
  width: fit-content;

  @include phone {
    width: auto;
  }
}